* { margin: 0; padding: 0; }

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
  --light-blue: rgb(90, 172, 201);
  --med-blue: rgb(58, 133, 171);
  --dark-blue: rgb(79, 85, 99);
  --title-red: rgb(210, 99, 105);
  --ship-grey: rgb(195, 192, 195);
  --off-white: rgb(229, 220, 203);
  --title-white: rgb(224, 225, 218);
}

html {
  font-family: 'Archivo Black', sans-serif;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 60px 60px;
  justify-items: center;
  gap: 20px;
}

.game-area {
  position: relative;
  display: grid;
  margin-top: 20px;
  height: 500px;
  border: 6px solid var(--dark-blue);
  background: var(--dark-blue);
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.player-area {
  display: grid;
  border: 2px solid whitesmoke;
  width: calc(((340px * 8) / 5) + 30px);
  grid-column: 2 / 3;
  grid-template-columns: calc(300px / 11 * 2 + 6px) 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.p-board-area {
  display: grid;
  margin-right: 3px;
  background: var(--dark-blue);
  grid-template-columns: 30px 300px;
  grid-template-rows: 30px 300px 40px 1fr;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.p-board-head {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.p-board-side {
  display: grid;
  height: 300px;
  grid-template-rows: repeat(10, 1fr);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.player-board {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(10, 1fr);
  background: 
    linear-gradient(217deg, var(--light-blue), var(--med-blue) 70.71%),
    linear-gradient(127deg, var(--light-blue), var(--med-blue) 70.71%),
    linear-gradient(336deg, var(--dark-blue), var(--dark-blue) 70.71%);
  }

.ship-area {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: var(--dark-blue);
  border-right: 1px solid var(--title-white);
}

.ship {
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  width: calc(300px / 11 - 1px);
  outline: 1px solid var(--off-white);
}

.ship-dot {
  width: 12px;
  height: 12px;
  background: rgba(256, 256, 256, 0.2);
  border: 1px dashed black;
  border-radius: 100%;
}

.blue-ship {
  background: linear-gradient(rgb(132, 142, 151), rgb(164, 186, 200));
  height: calc(300px / 11 * 5 + 8px);
}

.right-ship {
  background: linear-gradient(rgb(79, 94, 125), rgb(169, 188, 207));
  height: calc(300px / 11 * 4 + 6px);
}

.sperm-ship {
  background: linear-gradient(rgb(168, 166, 144), rgb(144, 150, 129));
  height: calc(300px / 11 * 3 + 4px);
}

.humpback-ship {
  align-self: flex-end;
  background: linear-gradient(rgb(124, 137, 153), rgb(101, 109, 122));
  height: calc(300px / 11 * 3 + 4px);
}

.orca-ship {
  background: linear-gradient(rgb(56, 63, 75), rgb(109, 119, 152));
  height: calc(300px / 11 * 2 + 1px);
}

.rotated-whale {
  transform-origin: calc(26.27px / 2) calc(25.27px / 2);
  transform: rotate(-90deg);
}

.player-sidebar {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  grid-template-rows: 1fr 2fr;
}

.hit-pieces {
  display: grid;
  padding: 3px;
  align-items: center;
  justify-items: center;
  border-bottom: 3px solid var(--dark-blue);
  grid-template-columns: repeat(6, 1fr);
  grid-row: 1 / 2;
  background: var(--med-blue);
}

.hit-piece {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: red;
}

.miss-pieces {
  display: grid;
  padding: 3px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-row: 2 / 3;
  background: var(--med-blue);
}

.miss-piece {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: white;
}

.computer-area {
  display: grid;
  border: 2px solid whitesmoke;
  width: calc(((340px * 8) / 5) + 30px);
  grid-template-columns: 1fr 6fr 3fr;
  grid-template-rows: 1fr;
  grid-column: 1 / 2;
}

.c-board-area {
  display: grid;
  margin-right: 3px;
  background: var(--dark-blue);
  grid-template-columns: 30px 300px;
  grid-template-rows: 30px 300px;
  grid-column: 2 / 3;
}

.c-board-head {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.c-board-side {
  display: grid;
  height: 300px;
  grid-template-rows: repeat(10, 1fr);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.comp-board {
  display: grid;
  position: relative;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 100%;
  height: 300px;
  grid-template-rows: repeat(10, 1fr);
  background: 
    linear-gradient(217deg, var(--light-blue), var(--med-blue) 70.71%),
    linear-gradient(127deg, var(--light-blue), var(--med-blue) 70.71%),
    linear-gradient(336deg, var(--dark-blue), var(--dark-blue) 70.71%);
}

.title-area {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-column: 1 / 2;
  background: var(--off-white);
}

.title-text {
  padding: 10px;
  font-size: 28px;
  font-weight: 400;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: var(--title-white);
  background: var(--title-red);
}

.comp-sidebar {
  display: grid;
  grid-column: 3 / 4;
}

.fire-control {
  display: grid;
  background: var(--off-white);
}

.ships {
  display: grid;
}

.control-area {
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  background: var(--dark-blue);
}

.start-button {
  width: 50%;
  font-size: 20px;
  font-family: inherit;
  border: 2px solid var(--med-blue);
  border-radius: 5px;
  margin-left: 10px;
  background: var(--title-red);
  color: var(--title-white);
}

#control-form {
  visibility: hidden;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 33%);
}

#control-form input {
  grid-column: 2 / 3;
  font-family: inherit;
  font-size: 16px;
  padding: 2px;
  width: 22px;
  margin-left: 20px;
}

#control-form label {
  justify-self: flex-end;
  grid-column: 1 / 2;
  font-size: 18px;
  color: white;
}

.form-heading {
  color: var(--title-white);
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#letter-input-label {
  grid-row: 2 / 3;
}

#input-letter {
  grid-row: 2 / 3;
}

#number-input-label {
  grid-row: 3 / 4;
}

#input-number {
  grid-row: 3 / 4;
}

.fire-button {
  font-family: inherit;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background: var(--off-white);
  color: var(--title-red);
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

.axis-num {
  display: grid;
  border: 2px groove var(--title-white);
  color: var(--title-white);
  font-size: 16px;
  justify-items: center;
  align-items: center;
}

.grid-button {
  background: rgba(100, 100, 100, 0);
  border: 1px solid rgba(250, 250, 250, 0.3);
  width: calc(311px / 11);
  height: calc(300px / 11);
}

.comp-board .grid-button:hover {
  background: rgba(224, 225, 218, 0.5);
}

.row {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(10, 1fr);
}

.ships-title {
  text-align: center;
}

.whale-div {
  display: grid;
}

.whale {
  width: 100%;
}

.whale-text {
  font-family: san-serif;
  font-weight: bold;
  text-align: center;
  color: red;
}

.quote-div {
  display: flex;
  width: 70%;
  padding: 10px;
  background: var(--off-white);
  border-radius: 10px;

}

.quote-div h3 {
  text-align: justify;
  font-size: 18px;
  font-weight: lighter;
}

.copy-text, a {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.disclaimer {
  font-family: sans-serif;
  font-size: smaller;
  color: var(--title-white);
}

.no-harm {
  position: absolute;
  bottom: -25px;
  left: 15px;
  font-family: sans-serif;
  font-size: smaller;
}

.c-board-caption {
  font-size: 24px;
  position: absolute;
  left: 5px;
  bottom: -30px;
  color: var(--title-white);
}

.p-board-caption {
  padding-left: 35px;
  padding-top: 5px;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  font-size: 24px;
  color: var(--title-white);
}

